.hero-section {
  min-height: 90vh;
  background-image: url('C:\Users\mohit\OneDrive\Desktop\REACT-PROJECT\leaderboard-app\frontend\public\images/carpenter.jpg'); /* Replace with your preferred image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}
